.container {
  padding: 20px;
  width: 200px;
}

input {
  width: 100%;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  padding: 10px;
}
